body{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;;
    color: #000;
}
a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
ul{
    padding: unset;
    margin: unset;
}
li{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
.swing{
    visibility: visible;
    animation-name: swing;
}
.fadeInUp{
    visibility: visible;
    animation-duration: 1.8s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}
.slideInLeft{
    visibility: visible;
    animation-name: slideInLeft;
}
.slideInRight{
    visibility: visible;
    animation-name: slideInRight;
}
.container{
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
}
.portfolio{
    padding: 30px 0px;
    background-color: #f4f2f0;   
}
.portfolio_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio_inner a{
    text-transform: uppercase;
    font-size:32px ;
    color: #000;
}
.port_name span{
    font-weight: 600;
}
.nav{
    padding: 30px 0px;
    justify-content: center;
}
.nav_inner ul{
    display: flex;
}
.nav_inner ul li{
    display: inline-block;
    padding: 0px 1px;   
}
.nav_inner ul li a{
    font-size: 18px;
    display: block;
    color: #535352;
    width: 65px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
    transition: all 0.4s;
    font-weight: 600;
}
.nav_inner ul li:hover a{  
    background-color: #1769ff;
    color: #fff;
    border-radius: 5px;
    transition: all 0.4s;
}
.nav_inner #last_hire_me{
    margin-left: 10px;    
}
#last_hire_me a{
    color: #1769ff!important;
    display: block;    
    border-radius: 20px;
    white-space: nowrap;
    border: 2px solid #1769ff;
    width: 95px ;
    height: 43px;
    line-height: 43px;
    text-align: center;
    transition: all 0.4s;
    font-weight: 600;
}
#last_hire_me:hover a{
    background-color: #1769ff;
    border: 2px solid #000;
    color: #fff!important;
    transition: all 0.4s;
}
@media (min-width:768px){
    .nav_inner ul li{
        padding: 0px 5px;   
    }  
    .nav_inner ul li a{
        width: 75px;
        height: 40px;
    }
    .portfolio{
        padding: 30px 0px 0px 0px;
    }
}
/*=================-------- TOP-NAV END---=========================== */
.img_sectiom{
    background-color: #f4f2f0;
}
.cont_iner_sec{
    padding: 70px 0px;
}
.img_inner {
    margin-top: -70px;
}
.expert_sec{
    padding-top: 40px;
}
.expert_inner h5{
    color: #737372;
}
.expert_inner h2{
    font-size: 27px;
    font-weight: 600;
}
.expert_inner p{
    color: #a1a09f;
    font-size:16px ;
    margin-bottom: 30px;
}
.inner_img img{
    min-height: 272px;
    object-fit: cover;
}
.expert_inner a{
    display: inline-block;
    background-color: #1769ff;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px ;
    font-weight: 600;
    transition: all 0.4s;
} 
.expert_inner a:hover{
    background-color: #003f8d;
    transition: all 0.4s;
}
@media (min-width:576px){
    .cont_iner_sec{
        padding:0px;
    }
    .expert_sec{
        padding: 0px 0px 50px 0px;
    }
    .inner_img img{
        display: block;
        position: absolute;
        bottom: 0;
        object-fit: cover;
    }
}
@media (min-width:768px){
    .expert_sec{
        padding: 74px 0px 110px 0px;
    }
    .expert_inner h5{
        font-size: 36px;
        padding-bottom: 15px;
    }
    .expert_inner h2{
        font-size: 36px;
        padding-bottom: 15px;
    }
    .expert_inner p{      
        font-size:16px ;  
        padding-bottom: 15px;     
    }
    .expert_inner p{
        margin-bottom: 30px;
    }
    .inner_img img{
        min-height: 360px;
        object-fit: cover;
    }
}
@media (min-width:992px){
    .expert_sec{
        padding: 155px 0px 180px 0px;
    } 
    .expert_inner h5{
        font-size: 36px;
        padding-bottom: 15px;
    }
    .expert_inner h2{
        font-size: 48px;
        padding-bottom: 15px;
    }
}
/* =============--------IMG SECTION END ---------=-============*/
.services{
    padding-top: 50px;  
    background-color: #fafafa; 
}
.main_service{
    padding-bottom: 50px;
}
.main_service h3{
    z-index: 999;
    position: relative;
    font-size: 32px;
    font-weight: 600;
}
.main_service h2{
    margin-top: -60px;
    font-weight: 700;
    color: #eeeeee ;  
    font-size: 55px;  
}
.services .container .row .col-12 .web_design{
    border-radius: 3px;
    border-bottom: 1px solid #a1a09f;
    transition: all 0.4s;
    padding: 0px 10px;
    height: 100%;
}
.services .container .row .col-12:last-child .web_design{
    border-bottom: unset!important;
}
 .web_design:hover {
    background-color: #1769ff;
    color: #fff;
    transition: all 0.4s;
    box-shadow: -1px 7px 14px 10px rgba(216,216,216,0.81);
    -webkit-box-shadow: -1px 7px 14px 10px rgba(216,216,216,0.81);
    -moz-box-shadow: -1px 7px 14px 10px rgba(216,216,216,0.81);
}
.design_inner span i{
    padding-top: 60px;    
    font-size: 25px;
    color: #1769ff;
}
.web_design:hover .design_inner span i{
    color: #fff;
    transition: all 0.4s;
}
.design_inner{     
    font-size: 18px;
}
.design_inner h6{
    padding-top: 20px;
}
.design_inner p{
    font-size: 15px;
    padding-bottom: 70px;
    padding-top: 30px;
}
.design_inner h6::after{
    display: block;
    content: '';    
    height: 2px;
    width: 40px;
    background-color: #1769ff;
    margin: 0 auto;
    margin-top: 15px;
}
.services .container .row .col-12 .web_design:hover h6::after{
    background-color: #fff!important;
}
@media (min-width:768px){
    .main_service{
        padding-bottom: 70px;
    }
    .services .container .row .col-12 .web_design{
        border-bottom: unset;
    }
}
@media (min-width:992px){
    .services .container .row .col-12 .web_design{
        padding: 0px 36px;
    }
    .main_service{
        padding: 110px 0px 60px 0px;
    }
}
/* --======================--CARD END--================== */
.portfolio_sec{
    background-color:#f4f4f4 ;
    padding-bottom: 20px;
}
.poet_ser{
    padding: 130px 0px 60px 0px;
}
.poet_ser h3{
    z-index: 999;
    position: relative;
    font-size: 32px;
    font-weight: 600;
}
.poet_ser h2{
    margin-top: -60px;
    font-weight: 700;
    color: #eeeeee ;  
    font-size: 55px;  
}
.inner_works{
    margin-bottom: 20px;
}
.inner_sec_works{
    background-color: red;
    width: 100%;
    height: 410px;
}
.inner_sec_works img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width:992px){
    .portfolio_sec{
        padding-bottom: 150px;
    }
}
/* =================--PORTFOLIO img END--==============  */

.make{
    margin-top: 30px;
}
.make_items h2{
font-size: 34px;        
}
.make_items p{
    font-size: 16px;
    padding-bottom: 30px;    
}
.make_button_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.make_button a{
    padding: 10px;
    border: 2px solid #1769ff;
    border-radius: 20px;
    transition: all 0.4s;
    font-size: 16px;
    display: inline-block;
}
.make_button:hover a{
    background-color: #1769ff;
    color: #fff;
    border: 2px solid #222;
    transition: all 0.4s;
}
@media (min-width:992px) {
    .make{
        padding: 90px 0px;
    }
}
/*===================-- Make It Awesome END--================ */

.slick_slider{
    margin-top: 30px;
    background-color: #f4f4f4;
}
.text_slick{
    position: relative;
}
.test_write h2{
    font-size: 31px;
    z-index: 99;
    position: relative;
}
.test_write h3{
    position: absolute;
    display: block;
    font-size: 500px;
    color: #eeeeee;
    margin: -200px 0px 0px -40px;
}
.text_slick .test_img_inner h3{
    position: absolute;
    display: block;
    font-size: 500px;
    color: #eeeeee;
    right: 0px;
    margin: 0px -12px 0px 0px;
}
.test_write .test_img_inner{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}
.test_write .test_img_inner img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.test_write{
    text-align: center;
    z-index: 99;
    position: relative;
    padding-top: 80px;
}
.test_img_inner img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    object-fit: cover;
    margin: 0 auto;
}
.allen_test_write{
    padding-bottom: 70px;
}
.allen_test_write h5{
    padding-top: 10px;
    font-weight: 600;
    font-size: 17px;
}
.allen_test_write h6{
    font-size:15px ;
    padding-bottom: 40px;
}
.allen_test_write p{
    position: relative;
    z-index: 99;
    font-size: 17px;
}
.text_slick  .slick-dots li{
    padding: 0px 3px;
}
.text_slick .slick-next{
    display: none!important;
}
.text_slick .slick-prev{
    display: none!important;
}
.text_slick .slick-dots{
    position: absolute;
    bottom: 23px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.text_slick .slick-dots li button{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
    border: none;
    cursor: pointer;
    border-radius: 20px;  
}       
.text_slick .slick-dots li.slick-active button{
    background-color: #003f8d;
    color: #fff;
}
@media (min-width: 576px){
    .test_write h3{
        margin: -200px 0px 0px -5px;
    }
    .text_slick .test_img_inner h3{
        font-size: 750px;
        margin: -83px -12px 0px 0px;
    }
}
@media (min-width: 768px){
    .test_write h3{
        margin: -274px 0px 0px 44px;
        font-size: 750px;
    }
    .text_slick .test_img_inner h3{
        font-size: 750px;
        margin: -131px -12px 0px 0px;
    }
    .test_write{
        padding-top: 141px;
    }
    .testImg{
        padding-top: 20px;
    }
    .allen_test_write{
        padding-bottom: 180px;
    }
    .text_slick .slick-dots{
        bottom: 100px;
    }
}
@media (min-width: 992px){   
    .test_write h2{
        font-size: 50px;
    }
    .test_write h3{
        margin: -297px 0px 0px 25px;
        font-size: 750px;
    }
    .text_slick .test_img_inner h3{
        font-size: 750px;
        margin: -100px -48px 0px 0px;
    }
    .allen_test_write{
        width: 702px;
        margin: 0 auto;
    }
}
@media (min-width: 1200px){
    .test_write h3{
        margin: -297px 0px 0px 108px;
        font-size: 750px;
    }
    .text_slick .test_img_inner h3{
        font-size: 750px;
        margin: -108px 0px 0px 0px
    }
}
/* ========================SLICK_SLIDER END================ */
.bottom_end{
    margin-top: 50px;
}
.bottom_nav{
    display: flex;
    justify-content: center;
}
.bottam_nav_inner ul{
    display: flex;
}
.bottam_nav_inner ul li{
    padding: 0px 2px;
    white-space: nowrap;   
} 
.bottam_nav_inner ul li a{
    padding: 10px 13px ;
    color: #313131;
    transition: all 0.4s;
    font-weight: 600;
}
.bottam_nav_inner ul li:hover a{
    background-color: #1769ff;
    color: #fff;
    border-radius: 5px;
    transition: all 0.4s;
}
.topnav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.topnav input[type=text] {
    padding: 0px 37px 0px 10px;
    margin-top: 8px;
    font-size: 17px;
}  
.topnav .search-container input{
    border-radius: 25px;
    height: 43px;
    border: 1px solid #9b9b9b; 
    outline: none;
    position: relative;
}
.topnav .search-container button { 
    position: absolute;
    display: block;
    background-color: unset;
    border: none;
    margin: -32px 0px 28px 209px;
    cursor: pointer;
} 
.social_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.social_inner ul{
    display: flex;
}
.social_inner ul li{
    padding: 0px 8px;
    display: inline-block;
}
.social_inner ul li a{
    background-color: #ebebeb;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    color:#a7a7a7 ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.social_inner ul li:hover a{
    background-color: #32ccfe;
    transition: all 0.4s;
    color: #fff;
    box-shadow: 1px 22px 19px 4px rgba(167,167,167,0.75);
    -webkit-box-shadow: 1px 22px 19px 4px rgba(167,167,167,0.75);
    -moz-box-shadow: 1px 22px 19px 4px rgba(167,167,167,0.75);
}
.copy_right{
    padding-top: 30px;
}
.copy_right p{
    color: #777777;    
}
@media (min-width: 768px){
    .bottom_end .container .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav{
        padding-top: 0px;
        display: flex;
        justify-content: flex-start;
    }
    .bottom_nav{
        display: flex;
        justify-content: end;
    }
}
@media (min-width: 992px){
    .social_icon{
        padding-top: 66px;
    }
    .copy_right{
        padding-top: 125px;
    }
}











